:root {
  --black-transparent: #000000d9;
  --gray-100: #f5f7f9;
  --gray-300: #f0f2f5;
  --gray-500: #d9d9d9;
  --gray-700: #b8b9bb;
  --gray-900: #3c3c3c;
  --main-menu-width: 200px;
}

html,
body,
#__next {
  background-color: var(--gray-300);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--gray-700);
  display: inline;
  text-decoration: none;
  width: fit-content;
}

a:focus,
a:hover {
  color: var(--black-transparent);
}

h4,
h5 {
  color: var(--gray-700);
}

label {
  align-items: center;
  display: flex;
  height: 1.5rem;
  justify-content: space-between;
}

label:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
